@use '../../styles/base';

.section {
    transition: all .3s;
    
    [data-light=false] & {
        background-color: base.$color1;
    
    }
}


.body {
    margin: 1rem;


    @media (min-width: 865px) {
        
        [data-fullscreen=true] & {
            width: 672px;
            margin: 1.375rem auto;
        }

    }


}


