@use '../../styles/base';

.sectionTitle {
    background-color: base.$color9;

    display: flex;
    flex-flow: row nowrap;
    
    justify-content: space-between;
    align-items: center;

    height: 42px;

    transition: all .3s;
    
    [data-light=false] & {
        background-color: base.$color2;
    }

    
}

.title {
    color: base.$color6;
    margin-left: 16px;
}

.previewEditorSwitch,
.previewFullScreenSwitch {
    margin-right: 16px;

    background: transparent;

    &:hover {
        background: transparent;

        opacity: .7;
    }
}

.previewFullScreenSwitch {
    display: none;
}


@media (min-width: 865px) {
    .previewEditorSwitchSmallScreen {
        display: none;
    }

    .previewFullScreenSwitch {
        display: block;
    }

    
}