@use '../../styles/base';

.textArea {
    width: 100%;
    min-height: calc(100vh - 130px);
    border: none;
    resize: none;
    outline: none;

    overflow: hidden;
    font-family: 'Roboto Mono', serif;
    font-size: 14px;
    line-height: 24px;

    transition: all .3s;


    [data-light=false] & {
        background-color: base.$color1;
        color: base.$color7;
    }    

}