@use '../../styles/base';

.title {
    height: 56px;

    display: flex;
    align-items: center;

}

.myDocument {
    color: base.$color6;
}

.newDocumentButton {
    width: 100%;
    margin: 1.7rem 0;
}