@use '../../styles/base';

.themeSwitch {
    padding-top: 1rem;
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    background-color: base.$color5;

    width: 48px;
    height: 24px;
    border-radius: 14.5px;

    position: relative;
    padding: 6px;

    cursor: pointer;

    &::before {
        content: "";
        display: block;
        
        position: absolute;
        
        right: 6px;

        width: 12px;
        height: 12px;
        background-color: base.$color10;

        border-radius: 50%;

        transition: all .3s;

    }

    &[data-light-mode=DARK]::before{
        transform: translateX(-26px);
    }
}

