@use '../../styles/base';

@keyframes overLayFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    animation: overLayFadeIn .3s;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: base.$color1;
        opacity: .5;
        z-index: 0;
    }

    
    display: flex;

    align-items: center;



}

@keyframes fadeInModal {
    0% {
        transform: scale(.7);
    }

    100% {
        transform: scale(1);
    }
}


.modal {
    font-family: 'Roboto Slab', serif;

    width: 343px;
    margin: auto;

    padding:24px;
    border-radius: 4px;
    background-color: base.$color10;

    animation: fadeInModal .3s;
    opacity: 1;

    z-index: 1;
}

.modalTitle {
    color: base.$color4;

    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.65rem;

    margin-bottom: 1rem;
}

.modalBody {
    color: base.$color6;

    font-size: 0.875rem;
    line-height: 1.5rem;
}