$color1: #151619;
$color2: #1D1F22;
$color3: #2B2D31;
$color4: #35393F;
$color5: #5A6069;
$color6: #7C8187;
$color7: #C1C4CB;
$color8: #E4E4E4;
$color9: #F5F5F5;
$color10: #FFFFFF;
$color11: #E46643;
$color12: #F39765;